body {
	background-image: url("caveBackground.jpg");
	background-position: center top;
	/* background-repeat: no-repeat; */
}

#menu a {
	text-decoration: none;
}

.title {
	color: #1ab5cb;
}

#menu {
	width: 300px;
	display: none;
}

#header {
	
}